%p#notice= notice

%p
  %b Title:
  = @entry.title
%p
  %b Description:
  = @entry.description
%p
  %b Enclosure url:
  = @entry.enc_url

  = video_tag( @entry.enc_url, :preload => true, :controls => true, :size => "640x360")
\|
= link_to 'Back', feed_entries_path
