%p
  %b Title:
  = @entry.title
%p
  %b Description:
  = @entry.description
%p
  %b Enclosure url:
  = @entry.enc_url

  - if @entry.enc_type =~ /video/
    = video_tag( @entry.enc_url, :preload => true, :controls => true, :size => "640x360")
  - elsif @entry.enc_type =~ /audio/
    = audio_tag( @entry.enc_url, :preload => true, :controls => true)
\|
= link_to 'Back', feed_entries_path(@feed)
